body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  
}
img {
  width: 180px;
  border-radius: 10px;
}
.container {
  background-color: white;
  text-align: center;
  justify-content: center;
  width: 200px;
  height: 320px;
  border-radius: 10px;
  margin: 250px auto;
  padding: 10px 5px 0px 5px;
}

.title {
  font-weight: 700;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px 5px 0px 5px;
}

.text {
  font-size: 10px;
  margin-left: 20px;
  margin-right: 20px;
  color: grey;
  font-family: "Outfit", sans-serif;
}
